#chat-person {
    width: 1400px;
    height: 350px;
    background-color: #0C40FC;
    border-radius: 4px;
    position: relative;
    left: 10px;
    top: 10px;
  }
  #chat-person:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      right: 1313px;
      bottom: -45px;
      border-left: 73px solid transparent;
      border-right: 13px solid transparent;
      border-top: 46px solid #0C40FC;
  }
#chat-you {
    width: 1400px;
    height: 200px;
    background-color: #D4D8D9;
    border-radius: 4px;
    position: relative;
    left: 10px;
    top: 60px;
  }
  #chat-you:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      right: 1px;
      bottom: -45px;
      border-left: 73px solid transparent;
      border-right: 13px solid transparent;
      border-top: 46px solid #D4D8D9;
  }
  #officeName{
        position: relative;
        font-size: xxx-large;
        color: #FFFFFF;
        vertical-align: middle;
        line-height: 320px;
        text-align: center;
  }
  #yes{
    background-color: #0C40FC;
    width: 300px;
    height: 100px;
    color: #FFFFFF;
    font-size: xxx-large;
    position: relative;
    left: 335px;
    top: 55px;
}

#no{
    background-color: #FC0E0E;
    width: 300px;
    height: 100px;
    color: #FFFFFF;
    font-size: xxx-large;
    position: relative;
    left: 500px;
    top: 55px;
  }
#officesubmit{
    background-color: #3CF20E;
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    font-size: large;
    position: relative;
    left: 600px;
    top: 50px;
  }
#nameoffice{
    width: 100px;
    height: 50px;
    position: relative;
    left: 600px;
    top: 50px;
  }
#error{
  color: #FC0E0E;
  font-size: medium;
  position: relative;
  top: 50px;
  left: 600px;
}